@import url("/cv-maker/css/templates.css");

.cv-contact-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  min-width: 18px;
  margin-top: 2px;
}

.cv-contact-icon-svg {
  width: 18px;
  height: 18px;
  display: block;
}

.cv-contact-text {
  display: inline-block;
}

@media print {
  .cv-contact-icon {
    width: 16px;
    min-width: 16px;
    margin-top: 1px;
  }

  .cv-contact-icon-svg {
    width: 16px;
    height: 16px;
  }
}

